@charset "UTF-8";

/*section-Inicio*/
.container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    margin: 15px;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 20px;
    flex-wrap: wrap;
    background: #032120;
    background: linear-gradient(180deg,#010c0c 0%, rgba(5, 59, 57, 1) 40%, rgba(7, 86, 85, 1) 80%);
}
.container-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    margin-top: 190px;
}
.container-text h1{
    font-size: 3em;
    color: var(--cor4);
    margin: 20px;
}
.container-text p{
    margin-bottom: 15px;
    max-width: 600px;
    width: 100%;
    color: var(--cor6);
}
.destaque{
    color: var(--cor0);
}

.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

}
.btn-simule{
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px var(--cor0);
    text-align: center;
    background-color: var(--cor0);
    max-width: 200px;
    width: 100%;
    margin-right: 30px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-simule:hover{
    transform: scale(1.1);
}
.btn-simule a{
    display: flex;
    text-decoration: none;
    color: var(--cor4);
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 18px;    
}
.btn-whatsapp{
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid var(--cor4);
    max-width: 200px;
    width: 100%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-whatsapp:hover{
    transform: scale(1.1);
}
.btn-whatsapp a{
    text-decoration: none;
    color: var(--cor4);
    font-family: var(--font-padrao);

}
.group-prova{
    display: flex;
    flex-wrap: wrap;
    max-width: 680px;
    margin: 30px;
    color: var(--cor6);
}
.group-prova p{
    font-size: 14px;
    margin: 10px;
}
.container-img{
    background: url(../imagens/mulher.png) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 600px;
    height: 600px;
    width: 100%;
    border: 1px solid var(--cor3);
    border-radius: 25px;
    box-shadow: 5px 0px 5px var(--cor5);
    margin-top: 130px;
    
}
.whatsapp-fixo{
    display: flex;   
    width: 200px;
    width: 100%;
    justify-content: end;
}
.btn-simule-fixo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 100%;
    
    text-align: center;
    background-color: var(--cor0);
    width: 50px;
    height: 50px;
    margin: 20px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-simule-fixo:hover{
    box-shadow: 2px 2px 5px var(--cor0trans);
    transform: scale(1.1);
}


@media screen and (max-width: 1200px){
   .container-text h1{
        font-size: 2.3em;
        max-width: 400px;
        width: 100%;
    }
    .container-text p{
        padding: 20px;
        max-width: 450px;
        width: 100%;
        color: var(--cor6);
    }
    .container-img{
        background: url(../imagens/mulher.png) no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 600px;
        width: 90%;

    }
    .btn-whatsapp{
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        border: 1px solid var(--cor4);
        max-width: 200px;
        width: 100%;

        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .whatsapp-fixo{
        display: none;   
        width: 200px;
        width: 100%;
        justify-content: end;
    }

}