@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0trans:#00db7c9a;
    --cor0: #03E182;
    --cor1: #c9dbd3;
    --cor2: #075655;
    --cor3trans: #1d1d1d8c;
    --cor3: #000000;
    --cor4: #ffffff;
    --cor5: #24242454;
    --cor6: #c2c2c2;
    --cor7: #010c0c;

    --font-padrao: "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/*Section Product*/
.product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    background-color: var(--cor2);
}
.product-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 550px;
    width: 100%;
    padding: 30px;
}
.product-tag{
    margin: 5px;
    background-color: var(--cor3trans);
    border: 1px solid var(--cor0);
    color: var(--cor0);
    text-align: center;
    padding: 1px;
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
}
.product-title{
    margin: 30px;
    font-size: 30px;
    line-height: 1.6em;
    color: var(--cor4);
    text-align: center;
}
.product-text{
    margin: 20px;
    color: var(--cor6);
    text-align: center;
}
.product-lista{
    padding: 15px;
}
.product-group{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.product-group-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 420px;
    width: 100%;
    height: auto;
    background-color: var(--cor3trans);
    border-radius: 15px;
    border: 1px solid var(--cor0);
    padding: 30px;
    margin: 10px;
}
.product-group-box:hover{
    transform: scale(1.01);
    transition: 0.3s;
    box-shadow: 2px 2px 10px var(--cor0); 
}
.btn-saibaMais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 380px;
    width: 100%;
}
.link-saiba-mais{
   text-decoration: none;
    color: var(--cor4);
}
.btn-saibaMais img{
    width: 16px;
    height: 16px;
}
.btn-saibaMais:hover {
    background-color: var(--cor0trans);
}

/*section Sobre*/
.sobre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    flex-wrap: wrap;
}
.sobre-conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 130px;
}
.sobre-img img{
    max-width: 600px;
    width: 100%;
    border: 1px solid var(--cor3);
    border-radius: 25px;
    box-shadow: 5px 0px 5px var(--cor5);
    margin: 50px;
    margin-top: 130px;
}
.tag{
    max-width: 700px;
    width: 100%;
}
.sobre-tag{
    background-color: var(--cor3trans);
    border: 1px solid var(--cor0);
    color: var(--cor0);
    padding: 1px;
    max-width: 180px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.sobre-title{
    font-size: 30px;
    line-height: 1.6em;
    color: var(--cor2);
    max-width: 700px;
    width: 100%;
    margin-bottom: 30px;
}
.sobre-text{
    color: var(--cor3);
    max-width: 700px;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}
.sobre-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    
}
.sobre-group-box{
    display: flex;
    max-width: 700px;
    background-color: var(--cor3trans);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor0);
    width: 100%;
    gap: 10px;
}
.imagem{
    max-width: 50px;
    width: 100%;
}
.sobre-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor0);
}
.box-title{
    color: var(--cor4);
}
.box-title p{
    color: var(--cor6);
}

/*section FAQ*/
.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor1);
    padding-bottom: 130px;
}
.faq-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    margin-top: 130px;
    margin-bottom: 100px;
}
.faq-tag{
    background-color: var(--cor3trans);
    border: 1px solid var(--cor0);
    color: var(--cor0);
    padding: 1px;
    max-width: 120px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.faq-title{
    font-size: 30px;
    line-height: 1.6em;
    color: var(--cor2);
    max-width: 700px;
    width: 100%;
    margin-bottom: 30px;
}
.faq-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 700px;
    border-bottom: 1px solid var(--cor0);
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.faq-card:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.faq-question{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--cor3);
    cursor: pointer;
    outline: none;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    transition: color 0.3s ease;
}
.faq-question::after{
    content: '\1F783';
    font-size: 0.8rem;
    transition:0.3s ease;
    color: var(--cor0);
}
.faq-card[open] .faq-question::after {
    transform: rotate(180deg);
}

.faq-question:hover {
    color: var(--cor2);
}

/* Resposta */
.faq-answer {
    margin-top: 10px;
    color: var(--cor3);
    line-height: 1.6;
    padding-left: 5px;
    animation: fadeIn 0.4s ease;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

/*section contato*/
.contato-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    background-color: var(--cor2);
}
.contato-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 650px;
    width: 100%;
    padding: 30px
}
.contato-tag{
    margin: 5px;
    background-color: var(--cor3trans);
    border: 1px solid var(--cor0);
    color: var(--cor0);
    text-align: center;
    padding: 1px;
    max-width: 200px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
}
.contato-title{
    margin: 30px;
    font-size: 30px;
    line-height: 1.6em;
    color: var(--cor4);
    text-align: center;
}

.contato-text{
    margin: 20px;
    color: var(--cor6);
    text-align: center;
}
.box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.contato-group-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    width: 100%;
    height: auto;
    background-color: var(--cor3trans);
    border-radius: 15px;
    border: 1px solid var(--cor0);
    padding: 10px;
    margin: 10px;
}
.box-icone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--cor0);
}
.box-icone img{
    width: 25px;
    height: 25px;
}
.contato-box-title h3{
    color: var(--cor6);
    font-size: 14px;
    margin-bottom: 5px;
}
.contato-box-title p{
    color: var(--cor4);

}
.contato-btn{
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    width: 100%;
    margin-top: 30px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contato-btn:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 10px var(--cor0); 
}
.contato-btn a{
    text-decoration: none;
    color: var(--cor4);
    font-size: 18px;
}