@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor0trans:#00db7c9a;
    --cor0: #03E182;
    --cor1: #c9dbd3;
    --cor2: #075655;
    --cor3trans: #1d1d1d8c;
    --cor3: #000000;
    --cor4: #ffffff;
    --cor5: #24242454;
    --cor6: #c2c2c2;
    --cor7: #010c0c;

    --font-padrao: "Poppins", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}
html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

